/*
*  html5resetcss
*/
@import url('fonts/digital.css');
@import url('fonts/lcdat&t.css');
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000;
    overflow: hidden;
    /* font-family: 'Digital-7'; */
    /* font-weight: bolder; */
}
.clock {
    display: flex;
    font-family: 'LCD AT&T Phone Time/Date';
    font-size: 20em;
    font-weight: normal;
    color: #f70000;
    text-shadow: 0 0 3px #fff,
    0 0 4px #fff,
    0 0 5px #e60073,
    0 0 6px #e60073,
    0 0 7px #e60073,
    0 0 8px #e60073,
    0 0 9px #e60073;
}
.sep {
    color: inherit;
}
.sep.off {
    color: #00000000;
    text-shadow: none;
}
.clock.inactive {
    color: #0000f7;
    text-shadow: 0 0 3px #fff,
    0 0 4px #fff,
    0 0 5px #0073e6,
    0 0 6px #0073e8,
    0 0 7px #0073ea,
    0 0 8px #0073ec,
    0 0 9px #0073ee;
}
@media screen and (max-width:720px) and (orientation: portrait) {
    .clock {
        font-size: 6.5em;
        font-weight: 100;
    }
}
@media screen and (max-width: 1024px) and (orientation: landscape) {
	.clock {
		font-size: 10em;
        font-weight: 100;
	}
}
